<mat-toolbar color="primary">
  <span class="material-symbols-outlined">home</span>&nbsp;<a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">
    <mat-icon aria-hidden="false" aria-label="Perfil" class="material-symbols-outlined">person</mat-icon>
    Profile
  </a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()" id="buttonLogin">
    <mat-icon
    aria-hidden="false"
    aria-label="Login icon"
    class="material-symbols-outlined"
    >login</mat-icon>
    Login
  </button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()" id="buttonLogout">
    <mat-icon
    aria-hidden="false"
    aria-label="Logout icon"
    class="material-symbols-outlined"
    >logout</mat-icon>
    Logout
  </button>

</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>